{
  "Visualiti:Usuario": "CAMBIAR_USUARIO",
  "Jwt:Secret": "CAMBIAR_JWT_SECRET_MIN_32_CHARS_AQUI",
  "ConnectionStrings:DefaultConnection": "Server=localhost,1433;Database=dbHidrix;User Id=sa;Password=CAMBIAR_SA_PASSWORD;TrustServerCertificate=True;Encrypt=False",
  "Visualiti:Password": "CAMBIAR_PASSWORD"
}
